.maindivfornoresult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background: #bebbbb;
    max-height: 450px;
    border-radius: 8px;
    margin-bottom:50vh;
}

.maindivfornoresult>img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

@media only screen and (max-width: 767px) {
    .maindivfornoresult {
       margin-left: 8px;
       margin-right: 8px;
    } 
}