.communityhead {
    background: #00cd85;
    min-height: 8rem;

}

.mainreddit {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.communitydetails {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.communitydetails>div>h6 {
    color: gray;
    margin: 0px;
}

.communitydetails>div>h2 {
    margin: 0px;
    color: #302a2a;
    font-size: 1.2rem;
}

.communitydetails>div {
    margin-top: 1rem;
    text-align: center
}

.communitydetails>div>button {
    background-color: #00cd85;
    border: none;
    border-radius: 1rem;
    color: #fff;
    cursor: not-allowed;
    font-weight: 800;
    padding: 0.4rem 1.5rem;
}

.imgout {
    margin-top: 1rem;
    text-align: center;
}

.imgin {
    background-color: #fff;
    border-radius: 50%;
    margin-top: -1.8rem;
    padding: 0.3rem;
    text-align: center;
}

.imgin>img {
    background-color: #00cd85;
    border-radius: 50%;
    height: 4rem;
    padding: 0.3rem;
    width: 3rem;
}

.community-container {
    align-items: center;
    background-color: #f5f0f0;
    display: flex;

    flex-direction: column;
}

.community-container-2 {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    margin: 1rem 0;
    padding: 1rem 0;
    width: 80%;
}

.right-side-community-create-post {
    background-color: #fff;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    width: 30%;
}

.right-side-community-create-post>div>h3 {
    background-color: #00cd85;
    color: #fff;
    text-align: center;
    width: 100%;

}

.right-side-community-create-post>div {
    display: flex;
    justify-content: space-evenly;
}

.right-side-community-create-post>div>p {
    padding: 2rem
}

.right-side-community-create-post>div>button {
    background-color: #00cd85;
    border: none;
    border-radius: 10rem;
    color: #fff;
    cursor: pointer;
    font-weight: 800;
    height: 2rem;
    margin-bottom: 1rem;
    width: 87%;
}


.divforpostside {
    width: 70%;
}