.posforsubreddit{
    display: flex;
    flex-direction: column;
 min-height: 250px;
 width: 100%;
 background: yellow;
 padding: 0px;
 padding-left: 5px;
 border-radius: 8px;
}
.channelImg{
    width: 35px;
    height: 100%;
    border-radius: 50%;
}
.headerdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    background:white;
    height: 35px;
}
.headerdiv>p{
    margin-left: 8px;
    color:black;
    font-size: 15px;
}