.posforsubreddit{
    display: flex;
    flex-direction: column;
 min-height: 250px;
 width: 100%;
 background:white;
 padding: 0px;
 padding-left: 5px;
 border-radius: 8px;
 margin-top: 22px;
 padding-top: 5px;

}
.CommentBox{
    margin-bottom: 150px  !important;
    border-style: none !important;
    max-height: 505px;
    margin-top: 50px !important;
}

.redultincomment{
    display: flex;
    flex-direction: column;
    max-height: 300px;
    margin-bottom: 25px;
    border-radius: 8px;

}
.postimageincomment{
    height: 100%;
}
.forcommentbox{
    display: flex;
    flex-direction: column;
    background: #cf1616;
    min-height: 190px;
    margin-top: 85px;
}
.channelImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.postimage{
    max-height: 100%; /* Ensure the image doesn't exceed the height of its container */
    object-fit: cover;
    width: 100%;
    margin-left: 8px;
    border-radius: 8px;
}
.content{
    display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;  
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.imgdiv{
    max-height: 350px;
    margin-bottom: 20px;
}
.headerdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    background:white;
    height: 35px;
}
.headerdiv>p{
    margin-left: 8px;
    color:black;
    font-size: 15px;
}