.header {
    display: flex;
    height: 60px;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgb(246, 243, 243);
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 999999;

}

.headerlogo {
    height: 35px;
    width: 35px;
    margin-left: 10px;
}

.headerlogodiv {
    display: flex;
    align-items: center;
    width: 25%;
}

.usernameinlogin {
    width: 80px;
    justify-content: center;
    display: flex;
}

.forTheoption {
    width: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    margin-left: 10px;
}

.forTheoptionNamep {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
    margin-left: 8px;
}

.forTheoptionName {
    margin-left: 10px;
}

.menuinusername {
    width: 300px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.headerserchinput>input {
    width: 100%;
    border-radius: 20px;
    height: 30px;
    flex: 1;
    background-color: rgba(240, 240, 245, 0.164);
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}

.headerserchinput {
    display: flex;
    flex: 1;
    border: 1px solid rgb(168, 164, 164);
    border-radius: 24px;
    align-items: center;
    background-color: rgb(240, 240, 245, 0.164);
    margin-right: 150px;
}

.loginuserName {
    display: flex;
    flex-direction: row;
    height: 45px;
    background-color: #c1c4c8;
    cursor: pointer;
    width: 100px;
    align-items: center;
    margin-left: 90px;
}
.loginuserName >p{
  margin-left: 30px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 30px;
}

.headerlogoname {
    font-size: 35px;
    color: orangered;
    margin-left: 10px;
}

.serchicon {
    padding-left: 10px;
}



.LOginbtn {
    margin-left: 15px;
    background-color: rgb(247, 16, 12);
    height: 40px;
    border: 1px solid white;
    width: 80px;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    margin-right: 15px;

}

.LoginSignupPage {
    width: 400px;
    height: 400px;
    background: #000;
}

.PopupBox {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.LOgintext {
    font-size: 30px;
    margin-left: 35px;
    color: #000;
}

.forOr {
    width: 155px;
    border-bottom: 1px solid rgb(141, 141, 138);
    margin-right: 10px;

}

.forOrone {
    width: 155px;
    border-bottom: 1px solid rgb(141, 141, 138);
    margin-left: 10px;
}

.forOrword {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.LoginInputFeild {
    margin-top: 20px;
    height: 45px;
    border-radius: 25px;
    padding-left: 19px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: #94939381;
    border: 1px solid rgb(239, 239, 239);
}

.LoginPageButton {
    height: 40px !important;
    margin-top: 15px;
    border-radius: 25px;
    background: white;
    border: 1px solid rgb(213, 212, 212);
    margin-left: 35px;
    margin-right: 35px;
}

.forgetPassword {
    margin-left: 40px;
    margin-top: 20px;
}

.Signup {
    margin-left: 40px;
}

.LoginButton {
    height: 50px;
    border-radius: 20px;
    outline: none;
    background-color: rgb(247, 16, 12);
    margin-left: 35px;
    border-style: none;
    margin-right: 35px;
    color: white;
    font-size: 20px;
}

.SignUpPopupBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SignUpPopupBox>input {
    margin-top: 15px;
    height: 40px;
    width: 300px;
    outline: none;
    border-radius: 25px;
    border-style: none;
    padding-left: 20px;
    background-color: rgb(226, 223, 223);
}

.SignUpPopupBox>button {
    width: 300px;
    height: 40px;
    outline: none;
    border-style: none;
    border-radius: 25px;
    color: white;
    margin-top: 20px;
    background-color: orangered;
}

.SignUpPopupBox>p {
    width: 300px;
    margin-top: 20px;
    cursor: pointer;
}
.withloginresult{
 display: flex;
 flex-direction: row;
 align-items: center;
}
.logininsignup {
    color: blue;
    margin-left: 5px;
}

.signupinlogin {
    color: blue;
    cursor: pointer;
    margin-left: 5px;
}

.withloginheader {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 45px;
    margin-right: 100px;

    justify-content: space-between;
}

.loginheddiv {
    border-style: none;
    height: 38px;
    width: 32px;
    margin-right: 8px;
    background: transparent;


}

.Adverties {
    display: flex;
    align-items: center;
    border-style: none;
    height: 35px;
    padding: 0 10px;
    background: #DAE0E6;
    border-radius: 50px;
    font-size: 15px;
}

.Icon {
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
    color: #1a1a1b;
}

.iconad {
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
    margin-right: 6px;
}

.loginheddiv:hover {
    background-color: #DAE0E6;
}

.Adverties:hover {
    background-color: #DAE0E6;
}

.username {
    display: flex;
    width: auto;
    margin-left: 50px;
    width: 100px;
    border-radius: 1px;
}

.logoinlogindiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.barcodelogo {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 90px;
    background: #DAE0E6;
    align-items: center;
    border-radius: 50px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.SettingMenu {
    margin-right: 20px;
    width: 35px;
    height: 25px;
    color: #545557;

}

.dropdown {
    border: none;
}

.SettingMenu:hover {
    background: #DAE0E6;
    border-radius: 50px;
}

.headerrightpart {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.barcode {
    margin-left: 3px;
}

.dropdownitem {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 8px;
    width: 100%;
}

.name {
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 3px;
}

.bar {
    height: 25px;
    width: 30px;
    margin-right: 10px;
    border-right: 1px solid rgb(143, 141, 145);
}

.redditRecape {
    /* margin-right: 15px; */

}

.paragraph {
    margin-left: 35px;
    font-size: 15px;
}

.loginheadbar {
    margin-right: 7px;
    font-size: 25px;
    height: 20px;
    width: 30px;
}

.redditrecap {
    height: 20px;
    width: 30px;
}

.loginheadbar:hover {
    background: #DAE0E6;
}
.MenuIcon{
    display: none;
}
@media only screen and (max-width: 768px) {
    .header {
        /* Adjust styles for smaller screens */
        /* For example, reduce the height of the header */
        width: 100%;
        height: 60px;
        /* background: #000; */

        /* You can add more specific styles for smaller screens here */
    }

    .headerlogodiv {
        height: auto;
    }
    .MenuIcon {
        /* Set the desired width and height */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        width: 40px;
        height: 40px;
        margin-left: 8px;
    }
    
     .Menuicon {
        /* Set the desired width and height */
        display: flex;
        width: 40px  !important;
        height: 40px !important;
        font-size: 100px;
    } 
    .headerlogo {
        height: 45px;
        width: 45px;
    }

    .headerlogoname {
        font-size: 30px;
    }

    .headerserchinput {
        width: 00%;
        /* border-radius: 0px; */
        height: 30px;
        flex: 1;
        /* background-color: transparent;
        border: none;
        outline: none;
        /* font-size: 18px;
        padding-left: 10px; */
        margin-left: 5px;
        margin-right: 0; 
    }

    .bar {
        height: 0px;
        width: 00px;
        margin-right: 0px;
        border-right: 0px;
    }

    .headerrightpart {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* margin-right: 20px; */
    }

    .redditRecape {
        display: none;
    }

    .withloginheader {
        width: 0;
        margin: 0;
    }

    /* .headerrightpart {
        max-width: 10px;
        margin: 0;
    } */

    .barcodelogo {
        display: none;
    }

    .LOginbtn {
        display: none;
    }

    .SettingMenu {
        margin-left: 35px;
    }
    .redditrecap{
        display: none;
    }
    .iconad{
        display: none;
    }
    .loginheadbar{
        display: none;
    }
    .loginheadbar{
        display: none;
    }
    .logoinlogindiv{
        display: none;
    }
    .username {
        display: flex;
       
        margin-left: 0px;
    }
    .usernameinlogin {
        width: 70px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-left: 170px;
    }
    /* Add more media queries if needed */
}
@media only screen and (max-width: 480px) {
    .header {
        /* Adjust styles for smaller screens */
        /* For example, reduce the height of the header */
        width: 100%;
        height: 60px;
        /* background: #000; */

        /* You can add more specific styles for smaller screens here */
    }

    .headerlogodiv {
        height: auto;
    }

    .headerlogo {
        height: 25px;
        width: 25px;
    }

    .headerlogoname {
        font-size: 15px;
    }

    .headerserchinput {
        width: 00%;
        /* border-radius: 0px; */
        height: 30px;
        flex: 1;
        /* background-color: transparent;
        border: none;
        outline: none;
        /* font-size: 18px;
        padding-left: 10px; */
        margin-left: 15px;
        margin-right: 0; 
    }

    .bar {
        height: 0px;
        width: 00px;
        margin-right: 0px;
        border-right: 0px;
    }

    .headerrightpart {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* margin-right: 20px; */
    }
    .MenuIcon {
        /* Set the desired width and height */
        display: flex;
        /* justify-content: center; */
        align-items: center;
        width: 20px;
        height: 00px;
        margin-left: 1px;
    }
    
     .Menuicon {
        /* Set the desired width and height */
        display: flex;
        width: 20px  !important;
        height: 20px !important;
        font-size: 20px;
    } 
    .redditRecape {
        display: none;
    }

    .withloginheader {
        width: 0;
        margin: 0;
    }

    /* .headerrightpart {
        max-width: 10px;
        margin: 0;
    } */

    .barcodelogo {
        display: none;
    }

    .LOginbtn {
        display: none;
    }

    .SettingMenu {
        margin-left: 35px;
    }
    .redditrecap{
        display: none;
    }
    .iconad{
        display: none;
    }
    .loginheadbar{
        display: none;
    }
    .loginheadbar{
        display: none;
    }
    .logoinlogindiv{
        display: none;
    }
    .username {
        display: flex;
       
        margin-left: 0px;
    }
    .usernameinlogin {
        width: 70px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-left: 170px;
    }
    /* Add more media queries if needed */
}